@tailwind utilities;

@keyframes reveal {
  0% {
    transform: translateY(2rem);
    opacity: 0.4;
    scale: 1 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
    scale: 1;
  }
}

@keyframes hide {
  from {
    transform: none;
    opacity: 1;
    scale: 1;
  }
  to {
    transform: translateY(1rem);
    opacity: 0;
    scale: 1 0.6;
  }
}

:global(:root) {
  /* opening */
  &::view-transition-new(delete-pet) {
    animation: reveal 0.2s ease forwards;
    object-fit: none;
    transform-origin: bottom;
    inset-block: auto 0;
  }
  /* closing */
  &::view-transition-old(delete-pet) {
    animation: hide 0.2s ease forwards;
    object-fit: none;
    transform-origin: bottom;
    inset-block: auto 0;
  }

  &::view-transition-group(delete-pet-cta) {
    z-index: 10;
    overflow: clip;
  }

  &::view-transition-old(delete-pet-cta),
  &::view-transition-new(delete-pet-cta) {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}
