@import '@fontsource-variable/rubik/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nou-font-sans: 'Rubik Variable';

    --nou-elevation-1: 0px 1px 3px rgba(0, 0, 0, 0.15),
      0px 1px 2px rgba(0, 0, 0, 0.3);
    --nou-elevation-2: 0px 2px 6px rgba(0, 0, 0, 0.15),
      0px 1px 2px rgba(0, 0, 0, 0.3);
    --nou-elevation-3: 0px 1px 3px rgba(0, 0, 0, 0.3),
      0px 4px 8px rgba(0, 0, 0, 0.15);
    --nou-elevation-4: 0px 2px 3px rgba(0, 0, 0, 0.3),
      0px 6px 10px rgba(0, 0, 0, 0.15);
    --nou-elevation-5: 0px 4px 4px rgba(0, 0, 0, 0.3),
      0px 8px 12px rgba(0, 0, 0, 0.15);

    --radius: 0.5rem;
  }

  .dark {
    --nou-elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 1px 3px rgba(0, 0, 0, 0.15);
    --nou-elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 2px 6px rgba(0, 0, 0, 0.15);
    --nou-elevation-3: 0px 1px 3px rgba(0, 0, 0, 0.3),
      0px 4px 8px rgba(0, 0, 0, 0.15);
    --nou-elevation-4: 0px 2px 3px rgba(0, 0, 0, 0.3),
      0px 6px 10px rgba(0, 0, 0, 0.15);
    --nou-elevation-5: 0px 4px 4px rgba(0, 0, 0, 0.3),
      0px 8px 12px rgba(0, 0, 0, 0.15);
  }
}

@layer base {
  * {
    @apply border-outline min-w-0 font-sans;
  }
  html,
  body,
  #app {
    @apply bg-background text-on-background h-full max-w-full;
  }
  #app {
    @apply overflow-x-hidden;
  }
}
