@import '@fontsource-variable/rubik/index.css';

@layer tailwind-base, nou-ui;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-outline min-w-0 font-sans;
  }
  html,
  body,
  #app {
    scrollbar-gutter: stable;
    @apply bg-background text-on-background h-full max-w-full;
  }
  #app {
    @apply overflow-x-hidden;
  }

  :root,
  ::backdrop,
  ::selection {
    --nou-font-sans: 'Rubik Variable';

    --radius: 0.5rem;
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .container {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    @media screen(xl) {
      max-width: theme(screens.xl);
    }
  }

  .overflow-snap {
    @apply scrollbar-none snap-x snap-mandatory overflow-auto [&>*]:snap-start;
  }
}
