@layer nou-ui {
  .card {
    position: relative;
    flex-shrink: 0;
    border-radius: theme('borderRadius.lg');
    transition:
      border-color 0.24s ease-out,
      background-color 0.24s ease-out,
      color 0.24s ease-out,
      border-radius 0.24s ease-out,
      flex 0.3s ease-out;
    background-color: theme('colors.surface');
    border: theme('borderWidth.2') solid theme('colors.on-surface/0.12');
    &:where(:hover, :focus-within) {
      border-color: theme('colors.on-surface/0.6');
      background-color: theme('colors.on-surface/0.05');
    }
    &:where(:active) {
      background-color: theme('colors.on-surface/0.08');
    }
    &:has(:focus-visible):focus-within {
      outline: 4px solid theme('colors.on-surface/0.4');
    }
    &:has(input:checked) {
      border-radius: theme('borderRadius.2xl');
      border-color: theme('colors.primary');
      background-color: theme('colors.surface-container-lowest');
      outline-color: theme('colors.primary/0.4');
      & .label {
        color: theme('colors.primary');
      }
      & .icon {
        color: theme('colors.primary');
        background-color: theme('colors.primary/0.12');
      }
      &:has(:focus-visible):focus-within {
        outline-color: theme('colors.primary/0.4');
      }
    }
  }
  .wrapper {
    display: flex;
    gap: theme('spacing.3');
    align-items: center;
    padding: theme('spacing.3');
  }
  .icon,
  .label {
    transition: 0.24s ease-out;
    transition-property: color, background-color;
  }
  .icon {
    transition: all 0.24s ease-out;
    padding: theme('spacing.2');
    background-color: theme('colors.on-surface/0.08');
    border-radius: theme('borderRadius.full');
  }
  .label {
    transition: color 0.24s ease-out;
  }
}
