@layer nou-ui {
  .card {
    flex-shrink: 0;
    border-radius: theme('borderRadius.lg');
    transition: all 0.24s ease-out;
    background-color: theme('colors.surface');
    border: theme('borderWidth.2') solid theme('colors.on-surface/0.05');
    &:has(.input:checked) {
      border-color: theme('colors.primary');
      & .wrapper {
        background-color: theme('colors.surface-container-lowest');
      }
      & .label {
        color: theme('colors.primary');
      }
      & .icon {
        color: theme('colors.primary');
        background-color: theme('colors.primary/0.12');
      }
    }
  }
  .input {
    @apply sr-only;
  }
  .wrapper {
    padding: theme('spacing.3');
    display: flex;
    gap: theme('spacing.3');
    align-items: center;
    border-radius: inherit;
    cursor: default;
    &:where(:hover, :focus-within) {
      background-color: theme('colors.on-surface/0.05');
    }
    &:where(:active) {
      background-color: theme('colors.on-surface/0.08');
    }
  }
  .icon {
    transition: all 0.24s ease-out;
    padding: theme('spacing.2');
    background-color: theme('colors.on-surface/0.12');
    border-radius: theme('borderRadius.full');
  }
  .label {
    transition: color 0.24s ease-out;
  }
}
