@tailwind components;

/* avoid consumers overriding this for all states */
@layer components {
  .popover:not(:popover-open) {
    display: none;
  }
}

@layer nou-ui {
  .popover {
    isolation: isolate;
    transition-property: opacity, transform, display;
    transition-behavior: allow-discrete;
    transition-duration: 0.24s;
    width: max-content;
    content-visibility: auto;
    margin: 0;
    box-shadow:
      0 0 2px theme('colors.on-surface-variant/0.2'),
      theme('boxShadow.lg');
    @apply bg-surface overflow-y-auto rounded-2xl;

    &:popover-open {
      opacity: 1;
      transform: none;
      @starting-style {
        opacity: 0;
        transform: scale(0.94);
      }
    }
    &:not(:popover-open) {
      transition-duration: 0.1s;
      opacity: 0;
    }

    &[data-placement='top'] {
      transform-origin: bottom center;
    }
    &[data-placement='right'] {
      transform-origin: left center;
    }
    &[data-placement='bottom'] {
      transform-origin: top center;
    }
    &[data-placement='left'] {
      transform-origin: right center;
    }
    &[data-placement='top-start'] {
      transform-origin: bottom left;
    }
    &[data-placement='right-start'] {
      transform-origin: left top;
    }
    &[data-placement='bottom-start'] {
      transform-origin: top left;
    }
    &[data-placement='left-start'] {
      transform-origin: top right;
    }
    &[data-placement='top-end'] {
      transform-origin: bottom right;
    }
    &[data-placement='right-end'] {
      transform-origin: left bottom;
    }
    &[data-placement='bottom-end'] {
      transform-origin: top right;
    }
    &[data-placement='left-end'] {
      transform-origin: right bottom;
    }
  }
}
