@tailwind components;

@layer components {
  .field {
    --border-color: theme('colors.outline');
    --border-scale-y: 1;
    --start-padding: theme(spacing.3);
    display: inline-flex;
    flex-flow: column nowrap;
    gap: theme(spacing.1);
    &:where(:has(:user-invalid)) {
      --border-color: theme('colors.error');
      & .description,
      & .label {
        color: theme('colors.error');
      }
    }
  }
  .inputWrapper {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: background-color 0.2s ease-out;
    border-radius: theme('borderRadius.lg') theme('borderRadius.lg') 0 0;
    &:after {
      position: absolute;
      bottom: 0;
      inset-inline: 0;
      content: '';
      height: 2px;
      transition: all 0.2s ease-out;
      transform-origin: center bottom;
      transform: scaleY(var(--border-scale));
      isolation: isolate;
      background: linear-gradient(
        to top,
        var(--border-color),
        var(--border-color)
      );
    }
    &:where(:hover) {
      background-color: theme('colors.on-surface/0.05');
    }
    &:where(:focus-within) {
      background-color: theme('colors.on-surface/0.08');
    }
    &:where(:focus-within) {
      --border-color: theme('colors.primary');
      --border-scale: 1.5;
    }
  }
  .label {
    padding-inline: var(--start-padding);
    padding-block-start: theme('spacing.2');
  }
  .description {
    /* same as label */
    padding-inline: var(--start-padding);
    color: theme('colors.on-surface');
    @apply text-sm;
  }
}
