@layer nou-ui {
  .field {
    --border-color: theme('colors.outline');
    --border-scale-y: 1;
    --start-padding: theme(spacing.3);
    display: inline-flex;
    flex-flow: column nowrap;
    gap: theme(spacing.1);
    &:where(:has(:user-invalid)) {
      --border-color: theme('colors.error');
      --border-scale: 2;
      & .description,
      & .label {
        color: theme('colors.error');
      }
    }
  }
  .inputWrapper {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: background-color 0.2s ease-out;
    border-radius: theme('borderRadius.lg') theme('borderRadius.lg') 0 0;
    &:after {
      position: absolute;
      bottom: 0;
      inset-inline: 0;
      content: '';
      height: 2px;
      transition: all 0.2s ease-out;
      transform-origin: center bottom;
      transform: scaleY(var(--border-scale));
      isolation: isolate;
      background: linear-gradient(
        to top,
        var(--border-color),
        var(--border-color)
      );
    }
    &:where(:hover) {
      background-color: theme('colors.on-surface/0.05');
    }
    &:where(:focus-within) {
      background-color: theme('colors.on-surface/0.08');
    }
    &:where(:focus-within) {
      --border-color: theme('colors.primary');
      --border-scale: 1.5;
    }
  }
  .label {
    padding-inline: var(--start-padding);
    padding-block-start: theme('spacing.2');
  }
  .description {
    /* same as label */
    padding-inline: var(--start-padding);
    color: theme('colors.on-surface');
    @apply text-sm;
  }

  .fieldset {
    position: relative;
    --errors-count: 0;
    &:has(.field .description) {
      --errors-count: 1;
      padding-block-end: calc(
        var(--errors-count) * theme('lineHeight.5') + 0.25rem
      );

      & .field .description {
        position: absolute;
        left: 0;
        padding-inline: 0;
        bottom: 0;
      }
    }
    /* second field has a neightbor with an error */
    &:has(.field:nth-of-type(2) .description):has(
        .field:nth-of-type(2) + .field .description
      ) {
      --errors-count: 2;
      & .field:nth-of-type(1) .description {
        transform: translateY(calc(-100%));
      }
    }
    /* all 3 fields have an error */
    &:has(.field:nth-of-type(1) .description):has(
        .field:nth-of-type(2) .description
      ):has(.field:nth-of-type(3) .description) {
      --errors-count: 3;
      & .field:nth-of-type(1) .description {
        transform: translateY(calc(-200%));
      }
      & .field:nth-of-type(2) .description {
        transform: translateY(calc(-100%));
      }
    }
  }
}
