@tailwind components;

@layer components {
  .input {
    padding: theme(spacing.3) var(--start-padding);
    background: transparent;
    outline: none;
    @apply text-base;
    &::placeholder {
      color: theme('colors.on-surface/0.6');
      font-weight: 400;
    }
  }
}
