@layer tw-components {
  .input {
    flex-basis: 100%;
    background: transparent;
    outline: none;
    field-sizing: content;
    resize: none;
    position: relative;
    &[type="number"] {
      font-variant-numeric: tabular-nums;
      @media (min-width: theme(screens.sm)) {
        padding-inline-end: theme("spacing.1");
        &::-webkit-inner-spin-button {
          margin-inline-start: theme("spacing.1");
        }
      }
    }
    /* &[type="date"] {
      padding-inline-end: theme(spacing.8);
    } */
    /** set same sizing/position styles as for custom ones */
    &[type="date"]::-webkit-calendar-picker-indicator,
    &[type="datetime-local"]::-webkit-calendar-picker-indicator,
    &[type="time"]::-webkit-calendar-picker-indicator,
    &[type="search"]::-webkit-search-cancel-button {
      height: 2em;
      width: auto;
      aspect-ratio: 1 / 1;
      background-size: 2em;
      background-position: center;
      padding-inline-end: theme("spacing.1");
      margin: 0;
      padding: 0;
      &:focus-visible {
        outline: 2px solid currentColor;
      }
    }

    &[type="time"]::-webkit-calendar-picker-indicator {
      background-image: url("../../../config/icons/source/clock.svg");
    }
    &:where(
        [type="date"],
        [type="datetime-local"]
      )::-webkit-calendar-picker-indicator {
      background-image: url("../../../config/icons/source/calendar-dot.svg");
    }

    &[type="search"]::-webkit-search-cancel-button {
      appearance: none;
    }

    &[rows="2"] {
      min-height: 3lh;
    }
    &[rows="3"] {
      min-height: 4lh;
    }
  }
}
