@tailwind components;

@layer components {
  .content:not(:popover-open) {
    display: none;
  }
}

@layer nou-ui {
  .content {
    transition-property: transform, display;
    transition-behavior: allow-discrete;
    background-color: theme('colors.surface');
    margin: 0;
    display: block;
    padding: theme('spacing.4');
    isolation: isolate;
    border-radius: theme('borderRadius.lg');

    &:popover-open::backdrop,
    &[data-open]::backdrop {
      opacity: 1;
    }
    &::backdrop {
      background-color: theme('colors.on-surface/0.3');
      transition: all 0.3s ease-out allow-discrete;
      opacity: 0;
    }
  }
  @starting-style {
    .content[data-open]::backdrop,
    .content:popover-open::backdrop {
      opacity: 0;
    }
  }

  .drawer {
    top: auto;
    bottom: 0;
    inset-inline: 0;
    height: max-content;
    width: 100%;
    max-height: 500px;
    border-end-end-radius: 0;
    border-end-start-radius: 0;

    &[data-opening] {
      transition-duration: 400ms;
    }
    &[data-closing] {
      transition-duration: 200ms;
    }
  }
  .popover {
    transition: all 0.3s ease-out allow-discrete;
    margin: auto;
    min-width: 20rem;
    transform: none;
    opacity: 1;
    @starting-style {
      &:popover-open {
        transform: translateY(0.5rem);
      }
    }
  }
}
