@tailwind components;

@layer nou-ui {
  .drawer {
    display: block;
    position: fixed;
    transition-property: transform, display;
    transition-behavior: allow-discrete;
    transition-timing-function: ease-out;
    isolation: isolate;
    top: unset;
    bottom: theme('spacing.1');
    inset-inline: theme('spacing.1');
    margin: 0;
    height: max-content;
    width: calc(100% - theme('spacing.1') * 2);
    max-height: 100%;
    will-change: transform;
    background-color: theme('colors.surface');
    padding: 0 theme('spacing.4') theme('spacing.4');
    border-radius: theme('borderRadius.lg');
    outline: none;

    &:focus-visible {
      outline: 2px auto theme('colors.on-surface');
      outline-offset: -2px;
    }

    &[data-closed] {
      display: none;
    }
    &[data-opening] {
      transition-duration: 0.3s;
    }
    &[data-closing] {
      transition-duration: 0.1s;
      &::backdrop {
        opacity: 0;
      }
    }

    &::backdrop {
      background-color: theme('colors.on-surface/0.3');
      transition: opacity 0.2s ease-out allow-discrete;
      opacity: 1;
    }
  }
  @starting-style {
    .drawer::backdrop {
      opacity: 0;
    }
  }
}
