@layer tw-components {
  .input:is(select) {
    /* ::picker(.input) { */
    appearance: base-select;
  }
  .input {
    width: 100%;
    outline: none;

    & selectedoption:has([data-part="empty-option"]) {
      @apply text-transparent;
    }

    & selectedoption [data-part="content"] {
      display: none;
    }
  }

  @position-try --nou-picker-top {
    border-radius: theme("borderRadius.2xl") theme("borderRadius.2xl") 0 0;
    bottom: calc(anchor(top) + theme(spacing.6));
    top: unset;
  }

  .popover {
    min-width: anchor-size(width);
    /* border-radius: 0 0 theme("borderRadius.2xl") theme("borderRadius.2xl"); */
    top: calc(anchor(bottom) + theme(spacing.2));
    position-try: --nou-picker-top;
  }

  .option {
    &::before {
      display: none;
    }
    &:where(:checked) > [data-part="label"] {
      color: theme("colors.primary");
    }
    & > [data-part="label"]:before {
      content: "";
      mask: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20256%20256%22%3E%3Cpolyline%20points=%2240%20144%2096%20200%20224%2072%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20stroke-width=%2224%22/%3E%3C/svg%3E");
      @apply pointer-events-none size-4;
    }
    &:where(:checked) > [data-part="label"]:before {
      @apply bg-primary;
    }
    &:where([value=""]:checked) > [data-part="label"]:before {
      content: "";
      mask: none;
      @apply text-on-surface/65 bg-transparent;
    }
    &:where([value=""]) > [data-part="label"] {
      @apply text-on-surface/65;
    }
  }
}
