@layer nou-ui {
  .input {
    appearance: none;
    outline: none;
    padding: theme(spacing.3) var(--start-padding);
    background: transparent;
    outline: none;
    cursor: default;
    caret-color: transparent;
    @apply text-base;
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }
  .option {
    cursor: default;
    user-select: none;
  }
}
