@layer theme, base, components, utilities;
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);
@import "./theme.css" layer(theme);

@plugin "tailwindcss-animate";
@plugin "./plugins";

@variant intent (&:where(:hover,:focus));
@variant disabled (&:where(disabled,[aria-disabled="true"]));
@variant starting (@starting-style);
@variant popover-open (&:popover-open);

@import "@fontsource-variable/inter/index.css" layer(theme);

@layer base {
  :root {
    --nou-font-sans: ;
    view-transition-name: none;
  }

  ::view-transition {
    pointer-events: none;
  }

  * {
    @apply min-w-0 font-sans;
  }
  html,
  body,
  #app {
    scrollbar-gutter: stable;
    @apply bg-background text-on-background h-full max-w-full overscroll-contain;
  }
  #app {
    @apply overflow-x-hidden;
  }
}

@view-transition {
  navigation: auto;
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility container {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: theme(breakpoint.sm)) {
    padding-inline: 2rem;
  }
  @media (min-width: theme(breakpoint.xl)) {
    max-width: var(--screen-xl);
  }
}

@utility filter-darker {
  filter: brightness(0.96) saturate(1.2);
}

@utility overflow-snap {
  @apply scrollbar-none -my-2 snap-x snap-mandatory overflow-auto [&>:last-of-type]:snap-end py-2 [&>*]:shrink-0 [&>*]:snap-start [&>*]:snap-always;
}

@utility stack {
  @apply grid place-items-center *:[grid-area:1/1];
}

@utility allow-discrete {
  transition-behavior: allow-discrete;
}
