@layer tailwind-base, nou-ui;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nou-font-sans: 'Rubik Variable';

    --radius: 0.5rem;
  }
  * {
    @apply border-outline min-w-0 font-sans;
  }
  html,
  body,
  #app {
    scrollbar-gutter: stable;
    @apply bg-background text-on-background h-full max-w-full overscroll-contain;
  }
  #app {
    @apply overflow-x-hidden;
  }
  ::selection {
    background-color: highlight;
    color: highlighttext;
  }
}

@layer base {
  :root,
  ::selection {
    --nou-white: 0 0% 100%;
    --nou-black: 0 0% 0%;
    --nou-primary: 349 50.9% 43.1%;
    --nou-on-primary: 0 0% 100%;
    --nou-primary-container: 355 100% 92.5%;
    --nou-on-primary-container: 346 78.8% 12.9%;
    --nou-secondary: 354 15.7% 40%;
    --nou-on-secondary: 0 0% 100%;
    --nou-secondary-container: 355 100% 92.5%;
    --nou-on-secondary-container: 352 35.4% 12.7%;
    --nou-tertiary: 193 85.5% 27.1%;
    --nou-on-tertiary: 0 0% 100%;
    --nou-tertiary-container: 198 100% 86.3%;
    --nou-on-tertiary-container: 195 100% 8.04%;
    --nou-error: 0 75.5% 41.6%;
    --nou-on-error: 0 0% 100%;
    --nou-error-container: 5.85 100% 92%;
    --nou-on-error-container: 358 100% 12.7%;
    --nou-background: 7.5 16% 97.6%;
    --nou-on-background: 353 15.3% 11.6%;
    --nou-surface: 349 2.9% 99.8%;
    --nou-on-surface: 353 15.3% 11.6%;
    --nou-surface-variant: 357 51.1% 91.2%;
    --nou-on-surface-variant: 356 10.1% 29.2%;
    --nou-outline: 356 6.88% 48.4%;
    --nou-outline-variant: 355 21.6% 80%;
    --nou-shadow: 0 0% 0%;
    --nou-scrim: 0 0% 0%;
    --nou-inverse-surface: 354 9.8% 20%;
    --nou-inverse-on-surface: 0 100% 96.5%;
    --nou-inverse-primary: 354 100% 84.9%;
    --nou-surface-dim: 356 26.2% 87.3%;
    --nou-surface-bright: 7.5 100% 98.4%;
    --nou-surface-container-lowest: 0 0% 100%;
    --nou-surface-container-low: 0 100% 97.1%;
    --nou-surface-container: 0 75% 95.3%;
    --nou-surface-container-high: 357 50% 92.9%;
    --nou-surface-container-highest: 357 37.5% 90.6%;
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .container {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;

    @media screen(sm) {
      padding-inline: 2rem;
    }
    @media screen(xl) {
      max-width: theme(screens.xl);
    }
  }

  .filter-darker {
    filter: brightness(0.96) saturate(1.2);
  }

  .overflow-snap {
    @apply scrollbar-none -my-2 snap-x snap-mandatory overflow-auto py-2 [&>*]:shrink-0 [&>*]:snap-start [&>*]:snap-always;
  }

  .stack {
    @apply grid place-items-center *:[grid-area:1/1];
  }

  .allow-discrete {
    transition-behavior: allow-discrete;
  }
}
