@layer nou-ui {
  .listItem {
    display: flex;
    align-items: center;
    gap: theme('spacing.2');
    width: 100%;
    flex-shrink: 0;
    cursor: default;
    user-select: none;
    border-radius: inherit;
    color: theme('colors.on-surface');
    background: transparent;
    transition: background-color 0.2s ease-out;
    outline: none;
    min-height: theme('spacing.10');
    padding: theme('spacing.3');

    @apply text-sm;

    &:where(:hover, [aria-selected='true'], [aria-current='true']) {
      background-color: theme('colors.on-surface/0.05');
    }
    &:where(:focus, :focus-within, :active) {
      background-color: theme('colors.on-surface/0.08');
    }
    &:where(:focus-visible:focus, :has(:focus-visible):focus-within) {
      outline: 2px auto currentColor;
    }
    &:where(:disabled, [aria-disabled='true']) {
      /* background-color: theme('colors.disabled');
      color: theme('colors.on-disabled'); */
      cursor: not-allowed;
      pointer-events: none;
    }
    &:where(:first-child) {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }
    &:where(:last-child) {
      border-start-start-radius: 0;
      border-start-end-radius: 0;
    }
    &:where(:not(:first-child, :last-child)) {
      border-radius: 0;
    }
  }
}
