@tailwind utilities;

@layer nou-ui {
  .list {
    view-transition-name: none;
    transition: all 0.4s ease-in-out allow-discrete;
    display: grid;
    grid-template: 1fr / 100%;
    & > .toast {
      grid-area: 1 / 1;
    }
  }

  .expanded {
    & > .toast {
      grid-area: auto;
    }
  }

  .toast {
    view-transition-class: nou-toast;
    /* transform: translateY(-30px) scale(0.85); */
  }
  /* .toast:last-of-type {
  transform: none;
}

.toast:nth-last-of-type(1) {
  transform: translateY(-10px) scale(0.95);
}
.toast:nth-last-of-type(2) {
  transform: translateY(-20px) scale(0.9);
}
.toast:nth-last-of-type(3) {
  transform: translateY(-30px) scale(0.85);
} */

  :global(html::view-transition-group(*.nou-toast)) {
    @apply duration-300 slide-in-from-top-0 ease-out fade-in-0;
  }

  :global(html::view-transition-new(nou-toast):only-child) {
    @apply animate-in slide-in-from-top-8 ease-out fade-in-0 duration-300;
  }

  :global(:root::view-transition-old(nou-toast-removed):only-child) {
    @apply animate-out slide-out-to-top-8 ease-in fade-out-0 duration-200;
  }
}
