@tailwind utilities;

@layer nou-ui {
  .list {
    /* view-transition-name: nou-toast-list; */
    position: fixed;
    min-width: theme(spacing.64);

    &:is(:hover, :focus) {
      & > .toast {
        inset-block-start: anchor(end);
        translate: 0;
        scale: 1;
      }
    }
  }

  .toast {
    pointer-events: auto;
    transition:
      inset 0.1s ease,
      0.3s allow-discrete;
    transition-property: opacity, display, inset, translate, scale;
    animation-duration: 0.3s;
    position: absolute;
    inset-block-start: anchor(start, 0);
    /* use padding instead of positioning to allow hover to remain stable for multiple toasts */
    padding: theme("spacing[1]") theme("spacing[2]");

    &:nth-of-type(1) {
      inset-block-start: 0;
      z-index: 4;

      @apply animate-in slide-in-from-top-8 fade-in-0 fill-mode-forwards;
    }
    /* &:not(:nth-of-type(1)) > * > * {
      opacity: 0;
    } */
    &:nth-of-type(2) {
      z-index: 3;
      scale: 0.9;
      translate: 0 theme(spacing.4);
    }
    &:nth-of-type(3) {
      z-index: 2;
      scale: 0.85;
      translate: 0 calc(2 * theme(spacing.4));
    }
    &:nth-of-type(4) {
      z-index: 1;
      scale: 0.8;
      translate: 0 calc(3 * theme(spacing.4));
    }
    &:nth-child(n + 5) {
      opacity: 0;
      display: none;
      scale: 0.75;
      translate: 0 calc(4 * theme(spacing.4));
    }
  }

  /* @starting-style {
    .toast {
      transform: translateY(-1rem);
    }
  } */

  /* :global(html::view-transition-group(*.nou-toast)) {
    @apply duration-300 slide-in-from-top-0 ease-out fade-in-0;
  }

  :global(html::view-transition-new(nou-toast):only-child) {
    @apply animate-in slide-in-from-top-8 ease-out fade-in-0 duration-300;
  }

  :global(:root::view-transition-old(nou-toast-removed):only-child) {
    @apply animate-out slide-out-to-top-8 ease-in fade-out-0 duration-200;
  }

  :global(html::view-transition-new(nou-toast-latest):only-child) {
    @apply animate-out slide-out-to-top-8 ease-in fade-out-0 duration-200;
  } */
}
